@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("fonts/HelveticaNeueCyr-Light.otf");
}
@font-face {
  font-family: "HelveticaNeueCyr-LightItalic";
  src: url("fonts/HelveticaNeueCyr-LightItalic.otf");
}
@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("fonts/HelveticaNeueCyr-Roman.otf");
}
@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("fonts/HelveticaNeueCyr-Thin.otf");
}